/* Site-wide */
.navbar-default {
  background-color: #F3F3E1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #e2e2b6;
}

body {
	padding-bottom:20px
}

/* Request form */

.request-form input[type=text], .request-form input[type=password] {
	margin-bottom: 15px;
}


.form-group .glyphicon {
  margin-right: 5px;
}

.request-form img {
	max-width: 100%;
	border: rgb(208, 208, 208) solid 1px;
	margin-top: 10px;
}

.picture-input {
	display: none !important;
}

.image-container {
	text-align: center;
}

/* Bootstrap overrides */

.row {
	margin-right: 0px;
	margin-left: 0px; 
}