/* Site-wide */
.navbar-default {
  background-color: #F3F3E1;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #e2e2b6;
}

body {
	padding-bottom:20px
}

/* Request form */

.request-form input[type=text], .request-form input[type=password] {
	margin-bottom: 15px;
}


.form-group .glyphicon {
  margin-right: 5px;
}

.picture-input {
	display: none !important;
}

.image-container {
	text-align: center;
}

.styled-box {
	background: rgb(243, 243, 225);
	border: solid 1px rgb(231, 231, 231);
}

.reactable-header-sortable {
	cursor: pointer;
}

.reactable-header-sort-asc::after {
	color: rgba(255, 255, 255, 0);
	background: url('/images/ascending.png');
	background-repeat: no-repeat;
	background-size: 13px;
	content: 'aa';
	position: relative;
	top: 2px;
	left: 7px;
}

.reactable-header-sort-desc::after {
	color: rgba(255, 255, 255, 0);
	background: url('/images/descending.png');
	background-repeat: no-repeat;
	background-size: 13px;
	content: 'aa';
	position: relative;
	top: 2px;
	left: 7px;
}

.reactable-page-button:not(:last-child) {
	border-right: solid 1px rgb(196, 215, 196);
}

a.reactable-page-button {
	padding: 7px;
	cursor: pointer;
}

.request-page td:nth-child(1) {
	min-width: 100px;
}


/* Bootstrap overrides */

.glyphicon {
	margin-right: 10px;
}

.row {
	margin-right: 0;
	margin-left: 0; 
}

input[type=checkbox], input[type=radio] {
	margin: 0 0 0;
	line-height: 13px;
	position: relative;
	top: 2px;
}

label {
	margin-bottom: 0
}

h1, h2 {
	margin-top: 0
}

.col-md-6, .col-md-12, .row, .container {
	padding: 0
}